<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>

<body>
    <form action="/trata-dados" method="post" id="formulario-top">
        <label for="name">Nome completo</label>
        <input name="name" id="name" required>
        <label for="address">Endereço</label>
        <input name="address" id="address" required>
        <label for="age">Idade</label>
        <input name="age" id="age" required>

        <button type="submit" form="formulario-top">
            Salvar
        </button>
    </form>
</body>

</html>